
.about-banner {
    background-image: url('wp13402947-chelsea-4k-pc-wallpapers.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


h2 {
    color: #0052cc; 
}


footer {
    background-color: #0052cc;
    color: white;
}

.navbar {
    background-color: #003366;  
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #d4af37;  
}
