
.about-banner {
    background-image: url('wp13402947-chelsea-4k-pc-wallpapers.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


h2 {
    color: #0052cc; 
}


footer {
    background-color: #0052cc;
    color: white;
}

.navbar {
    background-color: #003366;  
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #d4af37;  
}
navbar-custom {
    background-color:  #001489; 
}


.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}


.navbar-custom .dropdown-menu {
    background-color: #001489; 
}

.navbar-custom .dropdown-item {
    color: white;
}

.navbar-custom .dropdown-item:hover {
    background-color: #001489; 
}
.footer {
    background-color: rgb(4, 4, 134);
    color: white;
    padding: 1px 0;
  }
  .footer-col {
    margin-bottom: 5px;
  }
